<!--Chats list-->
<aside class="chats-sidebar">
    <div class="chats-header">
        <div class="chats-header__profile-link">
            <a>Профиль</a>
            ->
        </div>

        <form class="chats-header__search">
            <input type="text" name=text" class="chats-header__input" placeholder="Поиск">
        </form>
    </div>
    <ul class="chats-list">
        <li class="chat">
            <div class="chat__image"></div>
            <div class="chat__content"></div>
            <div class="chat__info"></div>
        </li>
    </ul>
</aside>


<!--Message block-->