<!--Chats list-->
<aside class="chats-sidebar">
    <div class="chats-header">
        <a href="#" class="chats-header__profile-link">Profile link</a>

        <form class="chats-header__search">
            <input type="text" name=text" class="chats-header__input" placeholder="Search">
        </form>
    </div>
    <ul class="chats-list">
        <li class="chat">
            <div class="chat__item">
                <img class="user-avatar" src="https://via.placeholder.com/150" alt="">
            </div>
            <div class="chat__item">
                <span class="user-name">John</span>
                <br>
                <span class="user-message">Lorem ipsum.</span>
            </div>
            <div class="chat__item">
                <div class="chat__info">
                    <div class="chat__time">10:20</div>
                    <div class="chat__messages-count">
                        <span>3</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="chat">
            <div class="chat__item">
                <img class="user-avatar" src="https://via.placeholder.com/150" alt="">
            </div>
            <div class="chat__item">
                <span class="user-name">John</span>
                <br>
                <span class="user-message">Lorem ipsum.</span>
            </div>
            <div class="chat__item">
                <div class="chat__info">
                    <div class="chat__time">10:20</div>
                    <div class="chat__messages-count">
                        <span>3</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="chat">
            <div class="chat__item">
                <img class="user-avatar" src="https://via.placeholder.com/150" alt="">
            </div>
            <div class="chat__item">
                <span class="user-name">John</span>
                <br>
                <span class="user-message">Lorem ipsum.</span>
            </div>
            <div class="chat__item">
                <div class="chat__info">
                    <div class="chat__time">10:20</div>
                    <div class="chat__messages-count">
                        <span>3</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="chat">
            <div class="chat__item">
                <img class="user-avatar" src="https://via.placeholder.com/150" alt="">
            </div>
            <div class="chat__item">
                <span class="user-name">John</span>
                <br>
                <span class="user-message">Lorem ipsum.</span>
            </div>
            <div class="chat__item">
                <div class="chat__info">
                    <div class="chat__time">10:20</div>
                    <div class="chat__messages-count">
                        <span>3</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="chat">
            <div class="chat__item">
                <img class="user-avatar" src="https://via.placeholder.com/150" alt="">
            </div>
            <div class="chat__item">
                <span class="user-name">John</span>
                <br>
                <span class="user-message">Lorem ipsum.</span>
            </div>
            <div class="chat__item">
                <div class="chat__info">
                    <div class="chat__time">10:20</div>
                    <div class="chat__messages-count">
                        <span>3</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="chat">
            <div class="chat__item">
                <img class="user-avatar" src="https://via.placeholder.com/150" alt="">
            </div>
            <div class="chat__item">
                <span class="user-name">John</span>
                <br>
                <span class="user-message">Lorem ipsum.</span>
            </div>
            <div class="chat__item">
                <div class="chat__info">
                    <div class="chat__time">10:20</div>
                    <div class="chat__messages-count">
                        <span>3</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="chat">
            <div class="chat__item">
                <img class="user-avatar" src="https://via.placeholder.com/150" alt="">
            </div>
            <div class="chat__item">
                <span class="user-name">John</span>
                <br>
                <span class="user-message">Lorem ipsum.</span>
            </div>
            <div class="chat__item">
                <div class="chat__info">
                    <div class="chat__time">10:20</div>
                    <div class="chat__messages-count">
                        <span>3</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="chat">
            <div class="chat__item">
                <img class="user-avatar" src="https://via.placeholder.com/150" alt="">
            </div>
            <div class="chat__item">
                <span class="user-name">John</span>
                <br>
                <span class="user-message">Lorem ipsum.</span>
            </div>
            <div class="chat__item">
                <div class="chat__info">
                    <div class="chat__time">10:20</div>
                    <div class="chat__messages-count">
                        <span>3</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="chat">
            <div class="chat__item">
                <img class="user-avatar" src="https://via.placeholder.com/150" alt="">
            </div>
            <div class="chat__item">
                <span class="user-name">John</span>
                <br>
                <span class="user-message">Lorem ipsum.</span>
            </div>
            <div class="chat__item">
                <div class="chat__info">
                    <div class="chat__time">10:20</div>
                    <div class="chat__messages-count">
                        <span>3</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="chat">
            <div class="chat__item">
                <img class="user-avatar" src="https://via.placeholder.com/150" alt="">
            </div>
            <div class="chat__item">
                <span class="user-name">John</span>
                <br>
                <span class="user-message">Lorem ipsum.</span>
            </div>
            <div class="chat__item">
                <div class="chat__info">
                    <div class="chat__time">10:20</div>
                    <div class="chat__messages-count">
                        <span>3</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</aside>


<!--Message block-->